* {
	margin: 0;
	padding: 0;
	border:  0;
	/* box-sizing: border-box; */
}
a{
	text-decoration: none;
	cursor: pointer;
}
div.wrap {
	width: 70%;
	margin: auto;
	box-sizing: border-box;
}
body {
	background-color: white;
}
.container {
	
}
.clear {
	clear: both;
}
div.breadcrumb-small {
	font-family: 'Chonburi', cursive;
	font-size: 14px;
	padding-bottom: 20px;
	margin-top: 30px;
}
img {
	display: block;
}

/* <===========================> CSS chung <===========================>*/
#header div.information-top {
	width: 100%;
	height: 94px;

}
#header{
	min-height: 794px
}
#header div.information-top div#logo {
	width: 20%;
	height: 40px;
	padding:15px 0 0 0;
	float: left;
}
#header div.information-top div.information-site {
	width: 70%;
	height: 40px;
	padding: 30px 30px 0 0;
	font-family: 'Abril Fatface', cursive;
	float: left;
}
#header div.information-top div.information-site a {
	float: right;
	padding-right: 0%;
	font-family: 'Montserrat', sans-serif;
	/* font-family: 'Abril Fatface', cursive; */
	color: black;
	padding-right: 5%;
}
#header div.information-top div.information-site a:hover {
	color: #ff5252;
}
#header div.information-top div#logo a{
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	font-size: 30px;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    color: black ;
    letter-spacing: 2px;
    vertical-align: middle;
}
#header div.information-top div#logo p {
	padding-top: 3px;
	color: #ff5252;
    font-family: 'Lobster', cursive;
    letter-spacing: 1.2px;
}
#header div.navigation {
	position: relative;
}
#header div.navigation nav {
	display: inline-block;
}
#header div.navigation nav ul li a {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: white;
	padding-bottom: 3px;
}
#header .navigation{
	height: 70px;
}
#header div.navigation nav ul li{
	display: inline-block;
	padding: 24px 0 27px 0;
    
    color: #fff;
    margin-right: 40px;
}
#header div.navigation nav > ul > li{
	position: relative;
	z-index: 10;
}
#header div.navigation nav > ul > li::after{
	position: absolute;
	display: block;
	content: "";
	height: 2px;
	width: 0;
	left: 50%;
	bottom: 18px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	/* background-color: transparent; */
	transition: width 0.5s ease, backgdẽround-color 0.5s ease;
}
#header div.navigation nav > ul > li:hover::after{
	width: 100%;
	background-color: #ff5252;
}
#header div.navigation nav > ul > li > a {
	text-transform: uppercase;
}

#header div.navigation nav ul li ul.sub-menu-1 {
	position: absolute;
	min-width: 185px;
	display: none;
	background-color: white;
	top: 70px;
	z-index: 14;
}
#header div.navigation nav ul li:hover ul.sub-menu-1 {
	display: block;
	background-color: white;
	
}
#header div.navigation nav ul li:hover ul.sub-menu-1 ul {
	display: none;
}
#header div.navigation nav ul li:hover ul.sub-menu-1 li:hover ul {
	display: block;
	z-index: 14;
}
#header div.navigation nav ul li ul.sub-menu-1 li {
	width: 90%;
	padding: 10px;
	position: relative;
}
#header div.navigation nav ul li ul.sub-menu-1 li:hover {
	background-color: #ff5252;
	display: block;
}

#header div.navigation nav ul.sub-menu-1 li:hover a{
	color: white;
}
#header div.navigation nav ul li ul.sub-menu-1 li a {
	color: #999999;
}
#header div.navigation nav ul li ul.sub-menu-1 li:hover ul li {
	color: #999999;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
}
#header div.navigation nav ul li ul.sub-menu-1 li:hover ul li a {
	color: #999999;
}
#header div.navigation nav ul li ul.sub-menu-1 li:hover ul li:hover a {
	color: white;
}
#header div.navigation nav ul li ul.sub-menu-1 li:hover ul {
	left: 100%;
	top: 0%;
}
#header div.search-cart {
	display: inline-block;
	z-index: 14;
	position: absolute;
	top: 30%;
}
#header form {
	width: 75%;
	display: inline-block;
	margin-right: -10px;
}
#header form input {
	width: 65%;
	padding: 5px 10px;
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-radius: 3px 0 0 3px;
}
#header form button {
	padding: 5px 10px;
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
    background-color: #ff5252;
    border-radius: 0 3px 3px 0;
    margin-left: -4px;
}
#header div.navigation div.search-cart > a {
	display: inline-block;
	padding: 5px 7px;
	color: white;
    background-color: #ff5252;
    border-radius: 3px;
}
/* <===========================> Header <===========================>*/
div.slider {
	width: 100%;
	position: relative;
	margin: auto;
	height: 300px;
}

div.slider p.flash-sell,p.order-fast {
	color: white;
	text-align: center;
	position: absolute;
	z-index: 13;
	font-family: 'Lobster', cursive;
	font-size: 40px;
}
div.slider p.order-fast {
	left: 42%;
	top: 40%;
	animation: left-to-right 2s ;
}
div.slider p.flash-sell {
	left: 37%;
	top: 63%;
	animation: right-to-left 2s ;
}
div.slider a.more {
	position: absolute;
	left: 46%;
	top: 90%;
	padding: 10px 20px;
	border-radius: 3px;
	z-index: 13;
	font-family: 'Montserrat', sans-serif;
	color: #e52233;
	opacity: 0.8;
	border: 2px solid #e52233;
	animation: bot-to-top 2s;
}
div.slider a.more:hover {
	color: white;
	background-color: #e52233;
	border: 2px solid #e52233;
	
}

div.slider a.pre, a.next {
	padding: 13px 20px ;
	background-color: red;
	border-radius: 50%;
	vertical-align: middle;
	position: absolute;
	color: white ;
	cursor: pointer;
	border-radius: 0 3px 3px 0;
	font-size: 18px;
	font-weight: bold;
	transition: 0.6s ease;
	z-index: 12;
	top: 80%;
	background-color: rgba(0,0,0,0.5);
}
div.slider a.pre {
	left: 0;
}
div.slider a.next {
	right: 0;
}
div.slider a.next: hover, a.pre:hover {
	background-color: rgba(0,0,0,0.8);
}
div.slider div.mySlides {
	display: none;
}
div.slider img {
	width: 100%;
	position: absolute;
	top: -70px;
	z-index: 9;
	height: 700px;
}
div.slider div.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
div.slider div.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@-webkit-keyframes left-to-right {
  from {left: 0%;
  	opacity: 0;} 
  to {left: 42%;
  	opacity: 1;}
}
@keyframes left-to-right {
  from {left: 0%;
  	opacity: 0;} 
  to {left: 42%;
  	opacity: 1;}
}
@-webkit-keyframes right-to-left {
  from {right: 0%;
  	opacity: 0;} 
  to {right: 38%;
  	opacity: 1;}
}
@keyframes right-to-left {
  from {right: 0%;
  	opacity: 0;} 
  to {right: 38%;
  	opacity: 1;}
  }
  @keyframes bot-to-top {
  from {top: 150%;
  	opacity: 0;} 
  to {top: 90%;
  	opacity: 1;}
  }
/* <===========================> Slide <===========================>*/

section#list-menu {
	padding-top: 100px;
	padding-bottom: 48%;
	margin-bottom: 10px;
}
div#menu {
	text-align: center;
}
div#menu>p.lm-title {
	font-size: 30px;
	font-family: 'Chonburi', cursive;
	text-transform: uppercase;
}
div#menu>p.lm-des{
	color: #ff5252;
	font-family: 'Courgette', cursive;
}
div#menu ul.nav-menu  {
	margin: auto;
	width: 30%;
	list-style: none;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;

}
div#menu ul.nav-menu > li {
	display: inline-block;
}
div#menu ul.nav-menu > li > a {
	font-size: 18px;
	text-decoration: none;
	padding: 5px 10px;
	font-family: 'Abril Fatface', cursive ;
	color: black;
}
div#menu ul.nav-menu > li > a:hover {
	color: #ff5252;
}
div.list-item {
	padding: 15px 0 0;
	width: 100%;
	box-sizing: border-box;
}
div.list-item .imgs {
	width: 21%;
	margin: 2%;
	float: left;
	-webkit-box-shadow: 0 3px 10px 0px rgba(0,0,0,0.4);
	box-shadow: 0 3px 10px 0px rgba(0,0,0,0.4);
	position: relative;
}

div.list-item .imgs img {
	max-width: 100%;
}
p.price {
	font-family: 'Abril Fatface', cursive ;
	font-size: 18px;
	text-align: center;
	color: #ff5252;
	/* padding-bottom: 6%; */
}
a.title{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-align: center;
	color: black;
}
div.title-product {
	/* padding-top: 2%; */
	text-align: center;
}
div.ct-product-info {
		/* margin-top: 20px; */
	height: 110px;
	padding-top: 2%;
	transform: translateY(40px);
	-webkit-transition: all 0.3s ease; */
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
div.ct-product-item ,div.imgs {
	overflow: hidden;
}
div.ct-product-item:hover div.ct-product-info ,div.imgs:hover div.ct-product-info {
	transform: translateY(0px);
	background-color: #ff5252;
}
div.ct-product-item:hover .price, div.imgs:hover .price {
	color: white;
}
div.ct-product-cart {
	display: none;
	justify-content: center;
	padding: 5px;
}
div.ct-product-cart a {
	display: flex;
	align-items: center;
	margin: 2%;
	color: #333333;
	border: 1px solid #333333;
}
div.ct-product-cart a:nth-child(3):hover ,div.ct-product-cart a:nth-child(2):hover {
	color: white;
	border: 1px solid white;
}
div.ct-product-cart a:first-child:hover {
	color: white;
	border: 1px solid white;
}
div.ct-product-cart a:nth-child(1),div.ct-product-cart a:nth-child(2) {
	width: 35px;
	height: 35px;
	justify-content: center;
	border-radius: 50%;
	border: 1px solid #333333;
	
}
div.ct-product-cart a:nth-child(3) {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #333333;
	border-radius: 20px;
	border: 1px solid #333333;
	padding: 5px 10px;
}

div.ct-product-item:hover .ct-product-cart, div.imgs:hover .ct-product-cart {
	display: flex;
}
div.list-item div.imgs div.title-product a {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-align: center;
	color: black;
}
div.list-item div.imgs > div.add-cart > a{
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-align: center;
	display: flex;
	justify-content: center;
    align-items: center;
	/* background-color: #777; */
	color: white ;
}
div.list-item div.imgs > div.add-cart:hover {
	background-color: #ff5252;
}
div.list-item div.imgs > div.add-cart {
	width: 100%;
	height: 30px;
	background-color: #777;
	padding: 10px 0 0 0;
	margin-top: 5px;
}
/* <===========================> List menu index<===========================>*/
#comment-customer {
	width: 100%;
	min-height: 600px;
	background-image: url("imgs/bg-2.png");
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
}
#comment-customer p.customer-title {
	color: white;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 40px;
	padding-top: 5%;
}
#comment-customer div.block-comment {
	width: 33.33%;
	float: left;
	color: white;
}
#comment-customer div.block-comment img {
	width: 40%; 
	border-radius: 50%;
}
#comment-customer div.block-comment p:nth-child(2) {
	text-align: center;
	font-size: 30px;
	font-family: 'Chonburi', cursive;
}
#comment-customer div.block-comment p:first-child {
	font-family: 'Montserrat', sans-serif;
	padding: 30px 50px 30px 30px;
	font-size: 15px;
	margin-top: 15%;
}
/* <===========================> Customer index<===========================>*/
#news {
	margin-top: 80px;
	min-height: 570px;
	margin-bottom: 80px;
}
#news > p:first-child {
	font-size: 30px;
	font-family: 'Chonburi', cursive;
	text-transform: uppercase;
	text-align: center;
}
#news > p:nth-child(2){
	color: #ff5252;
	font-family: 'Courgette', cursive;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
}
#news div.news-item {
	width: 33.33%;
	float: left;
	padding: 1%;
	box-sizing: border-box;
	
}
#news div.news-item img {
	width: 100%;
	height: 220px;
}
#news div.news-item p.news-title {
	font-size: 24px;
	font-family: 'Chonburi', cursive;
	padding: 10px 0;
	line-height: 2;
}
#news div.news-item p.news-datetime {
	padding: 5px 0 13px 0;
	height: 10px;
	font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
#news div.news-item div.ke-ngang {
	width: 100%;
	height: 1px;
	background-color: lightgray;
}
#news div.news-item p.news-des {
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #666;
    padding: 15px 0 10px;
}
#news div.news-item a {
	color: black;
}
#news div.news-item a.read-more {
	font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
}
#news div.news-item a:hover {
    color: #ff5252;
}
/* <===========================> News index <===========================>*/
footer {
	background-color: #272727;
	min-height: 400px;
	color: white;
	font-family: Montserrat-Regular;
}
footer a {
	color: white;
}
footer .ft-block {
	width: 25%;
	box-sizing: border-box;
	float: left;
	padding-top: 5%;
}
footer .ft-block p.ft-title,a.ft-logo {
	font-family: 'Lobster', cursive;
    font-size: 30px;
    padding-bottom: 5%;
    line-height: 1;
}
footer .ft-email p.ft-email-des{
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 0 12% 5% 0%;
} 
footer .ft-email form input {
	width: 50%;
	padding: 5px 10px;
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-radius: 3px 0 0 3px;
}
footer .ft-email form button {
	padding: 5px 10px;
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
    background-color: #ff5252;
    border-radius: 0 3px 3px 0;
    margin-left: -4px;
}
footer .ft-infor .ft-infor-block a {
 	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.2;
}
footer .ft-infor .ft-infor-block {

}
footer .ft-infor .ft-infor-block a span {
	font-family: 'Lobster', cursive;
	font-size: 18px;
}
footer .ft-infor p.ft-title-social {
    font-family: 'Chonburi', cursive;
    font-size: 18px;
    padding: 5% 0;
}
footer .ft-infor .flex-container {
  display: flex;
}
footer .ft-infor .flex-container a {
	display: flex;
	width:  35px;
	height: 35px;
	border: 1px solid white;
    border-radius: 50%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
footer .ft-infor .flex-container a:hover {
	background-color: #ff5252;
	border: 1px solid #ff5252;
}
footer .ft-contact p {
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
footer .ft-des p {
	font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    padding-top: 5%;
}
div.copyright {
	width: 100%;
	height: 70px;
	background-color: #1c1d1e;
}
div.copyright p{
	color: white;
	text-align: center;
	font-family: 'Chonburi', cursive;
    font-size: 16px;
	padding-top: 30px;
}

/* <===========================> Footer <===========================>*/
#ct-product div.ct-product-left, div.ct-product-right {
	margin: 50px 0;
	float: left;
	box-sizing: border-box;
}
#ct-product div.ct-product-left {
	width: 25%;
}
#ct-product div.ct-product-right {
	width: 75%;
}
#ct-product div.ct-product-left .ct-range {
	padding-bottom: 20px;
}
#ct-product div.ct-product-left p.cp-title {
	font-family: 'Lobster', cursive;
	font-size: 24px;
}
#ct-product div.ct-product-left div.cp-line {
	width: 100%;
	height: 2px;
	background-color: lightgray;
	margin: 10px 0;
}
#ct-product div.ct-product-left ul li {
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}
#ct-product div.ct-product-left ul.cp-color li {
	width: 50%;
	float: left;
}
#ct-product div.ct-product-left ul li label {

}
#ct-product div.ct-product-left ul li label input[type="checkbox"] {
	width: 16px;
	height: 16px;
	padding: 0 8px 0 0;
	vertical-align: middle;
	margin: 4px;
}
#ct-product div.ct-product-right p:first-child{
	font-family: 'Chonburi', cursive;
    font-size: 20px;
    text-align: center;
}
#ct-product div.ct-product-right span,select {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
#ct-product div.ct-product-right select {
	border: 1px solid #dedede;
	/* background-color: #ff5252; */
}

/* #ct-product div.ct-product-left ul.cp-color li label input[type="checkbox"] {
	
	background: none;
    border: 1px solid #dedede;
    display: inline-block;
    background-color: var(--main-bg-color);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                overflow: hidden;
    vertical-align: middle;
    opacity: 0;
} */
/* #ct-product div.ct-product-left ul li label input[type="checkbox"]::after {
	position: absolute;
	content: "";
	width: 16px;
	height: 16px;
	background-color: red;
	background-color: var(--main-bg-color);
	opacity: 0;
	border: 1px solid lightgray;
} */
#ct-product div.ct-product-right div.ct-product-list {
	width: 100%;
}
#ct-product div.ct-product-right div.ct-product-list div.ct-product-item {
	width: 29%;
	float: left;
	margin: 2%;
	-webkit-box-shadow: 0 3px 10px 0px rgba(0,0,0,0.4);
	box-shadow: 0 3px 10px 0px rgba(0,0,0,0.4);
}
#ct-product div.ct-product-right div.ct-product-list div.ct-product-item img{
	width: 100%;
}
:root {
    --main-bg-color: white; 
}
/* <===========================> Category Product <===========================>*/

#detail-product .dp-block-1 ,.dp-block-2,.dp-block-3 {
	float: left;
}
#detail-product img {
	width: 100%;
}
#detail-product .dp-block-1 {
	width: 10%;
}
#detail-product .dp-block-2 {
	width: 40%;
}
#detail-product .dp-block-3 {
	width: 50%;
	padding-left: 30px;
	box-sizing: border-box;
}
#detail-product p.dp-big-title {
	text-align: center;
	font-family: 'Lobster', cursive;
    font-size: 30px;
    margin-top: 50px;
}
#detail-product div.dp-seen, div.dp-relation {

}
#detail-product p.dp-title {
	font-family: 'Chonburi', cursive;
    font-size: 24px;
    
}
div.dp-block-1 ul li {
	list-style: none;
}
div.dp-block-3 div.review-star {
	margin: 10px 0 20px;
}
div.dp-block-3 .dp-price {
	font-family: 'Abril Fatface', cursive;
    font-size: 18px;
    color: #ff5252;
    margin-bottom: 30px;
}
div.dp-block-3 .dp-des {
	font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 20px;
}
div.dp-block-3 .dp-hotline {
	font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.3;
	margin-bottom: 20px;
}
div.dp-block-3 .dp-cart {
	font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
div.dp-block-3 .dp-cart .dp-cart-count, .dp-cart-add {
	display: inline-block;
}
.dp-cart-title {
	font-family: 'Montserrat', sans-serif;
    font-size: 16px;
	font-weight: bold;
	margin: 20px 0;
}
.dp-cart-title, .dp-tag {
	display: inline-block;
}
div.dp-block-3 .dp-cart .dp-cart-count {
	
}
div.dp-block-3 .dp-cart .dp-cart-count span {
	margin: 10px;
}
div.dp-block-3 .dp-cart .dp-cart-add {
    padding: 7px 28px;
	border: 1px solid #ff5252;
	border-radius: 20px;
	color: #ff5252;
}
div.dp-block-3 .dp-cart .dp-cart-add:hover{
	background-color: #ff5252;
	color: white ;
	border: 1px solid #ff5252; 
}
div.dp-block-3 .dp-tag a {
	font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: black;
    border: 1px dashed black;
    padding: 5px 10px;
}
div.dp-block-3 .dp-tag a:hover {
	color: #ff5252;
	border: 1px dashed #ff5252;
}


/* <===========================> DEtail Product <===========================>*/
#introduce h3 {
	font-family: 'Lobster', cursive;
    font-size: 30px;
	border-bottom: 1px solid #ededed;
	margin: 50px 0
}
#introduce span, li {
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 2; 
}
#introduce p.intro-content {
	margin-bottom: 40px;
}
/* <===========================> Introduce <===========================>*/

#contact {
	margin-bottom: 100px;
}
#contact  h3{
	font-family: 'Lobster', cursive;
    font-size: 30px;
	border-bottom: 1px solid #ededed;
	margin: 50px 0
}
#contact .contact-content {
	display: flex;
}
#contact .contact-content .cc-grid {
	width: 21%;
	margin: 2%;
	padding: 50px 0;
	
	background-color: #fafafa;
	
}
#contact .contact-content .cc-grid:hover {
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
}
#contact .contact-content .cc-grid p:nth-child(2) {
	font-weight: bold;
}
#contact .contact-content .cc-grid i,#contact .contact-content .cc-grid p:nth-child(2),#contact .contact-content .cc-grid p:nth-child(3) {
	display: flex;
	justify-content: center;
	align-items: center;
}

#contact .contact-content .cc-grid p {
	padding-top: 10px;
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 2; 
}

#contact .contact-form .contact-input {
	width: 31%;
	float: left;
	margin: 1%;
}

#contact .contact-form .contact-input input {
	width: 100%;
	height: 100%;
	padding: 10px 15px;
	background-color: #fafafa;
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;


}
#contact .contact-form textarea {
	padding: 15px;
	width: 98%;
	height: 250px;
	background-color:#fafafa;
	margin: 10px 1%;
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}
#contact .contact-form input.contact-submit {
	padding: 5px 40px;
	color: white;
	background-color: #ff5252;
	border-radius: 20px;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	left: 45%;
}
#contact .contact-form input.contact-submit:hover {
	color: #ff5252;
	background-color: white ;
	border: 1px solid #ff5252;
}
/* <===========================> Contact <===========================>*/
#discount {
	margin-bottom: 100px;
}

#discount h3{
	font-family: 'Lobster', cursive;
    font-size: 30px;
	border-bottom: 1px solid #ededed;
	margin: 50px 0;
}

/* <===========================> Discount <===========================>*/
#cate-news {
	margin-bottom: 100px;

}

#cate-news h3{
	font-family: 'Chonburi', cursive;
    font-size: 30px;
	border-bottom: 1px solid #ccc;
	margin: 50px 0
}

.cate-news-left{
	width: 75%;
}

.cate-news-right {
	width: 25%;
	padding-left: 5%;
	box-sizing: border-box;
}

.cate-news-left , .cate-news-right {
	float: left;
}

.cate-news-left img {
	width: 100%;
}

.cate-news-item {
	padding-bottom: 50px;
}

.cate-news-img {
	position: relative;
}

.cate-news-infor {
	position: absolute;
	bottom: 40px;
	left: 20px;
	color: #ccc;
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.cate-news-infor span {
	margin: 5px;
}

.cate-news-left a.news-title {
    font-size: 24px;
    font-family: 'Chonburi', cursive;
    padding: 10px 0;
    line-height: 2;
    color: black;
}

.cate-news-left p.news-des {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #666;
    padding: 0px 0 10px;
    line-height: 1.5;
}

.cate-news-left a.read-more {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
}

.cate-news-left a.read-more:hover, .cate-news-left a.news-title:hover {
	color: #ff5252;
}

.cate-news-right .cate-news-list ul li {
	width: 76%;
	list-style: none;
	border: 1px solid lightgray;
	padding: 5px 10px;
	color: black;
	margin: 5px;
	box-sizing: border-box;
}

.cate-news-right .cate-news-list ul li span{
	float: right;
}

.cate-news-right .cate-news-list ul li span,.cate-news-right .cate-news-list ul li a {
	color: black;
}
.cate-news-list ul li:hover span,.cate-news-list ul li:hover a {
	color: #ff5252;
}

.cate-news-right .cate-news-tag a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: black;
    border: 1px dashed black;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    display: inline-block;
}

.cate-news-right .cate-news-tag a:hover {
	color: #ff5252;
	border: 1px dashed #ff5252;
}

.cate-news-right .cate-news-title {
	font-family: 'Lobster', cursive;
    font-size: 30px;
	border-bottom: 1px solid #ccc;
	margin:10px 0 20px;
	color: #ff5252;
}

.cate-news-right .cate-news-search form {
	width: 76%;
	border: 1px solid lightgray;
	padding: 5px;
}

.cate-news-right .cate-news-search form input {
	width: 75%;
	padding: 5px;
	border-right: 1px solid lightgray;
}

.cate-news-right .cate-news-search form button {
	width: 10%;
    background-color: white;
}

/* <===========================> Cate-news <===========================>*/
