/* font-family: 'Gilda Display', serif; 
	font-family: 'Roboto', sans-serif;*/
* {
	margin:  0;
	border: 0;
	padding: 0;
}
@keyframes copyright {
	0% {
		/* transform: translateX(42%);
		transition: transform 1s ease-in-out; */
		right: -42%;
		opacity: 0;
	}
	25% {
		right: -42%;
		opacity: 1;
	}
	100% {
		right: 0%;
	}
}
@-webkit-keyframes copyright {
	0% {
		right: -42%;
		opacity: 0;
	}
	25% {
		right: -42%;
		opacity: 1;
	}
	100% {
		right: 0%;
	}
}
@keyframes details-product {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes details-product {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes fade {
	50% {
		opacity: 0.1;
	}
}
@-webkit-keyframes fade {
	50% {
		opacity: 0.1;
	}
}
div.container {
	max-width: 80%;
	margin: auto;
}
div#heading {
	text-align: center;
}
h1 {
	font-family: 'Gilda Display', serif;
	text-transform: uppercase;
	letter-spacing: 10px;
}
span.letter {
	font-family: 'Gilda Display', serif;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: 50px;
	font-weight: bold;
	text-shadow: 0px 0px 3px white ;
}
span.letter:nth-child(1) {
	-webkit-animation: fade 4s infinite 200ms;
	animation: fade 4s infinite 200ms;
}
span.letter:nth-child(2) {
	-webkit-animation: fade 4s infinite 400ms;
	animation: fade 4s infinite 400ms;
}
span.letter:nth-child(3) {
	-webkit-animation: fade 4s infinite 600ms;
	animation: fade 4s infinite 600ms;
}
span.letter:nth-child(4) {
	-webkit-animation: fade 4s infinite 800ms;
	animation: fade 4s infinite 800ms;
}
span.letter:nth-child(5) {
	-webkit-animation: fade 4s infinite 1000ms;
	animation: fade 4s infinite 1000ms;
}
span.letter:nth-child(6) {
	-webkit-animation: fade 4s infinite 1200ms;
	animation: fade 4s infinite 1200ms;
}
span.letter:nth-child(7) {
	-webkit-animation: fade 4s infinite 1400ms;
	animation: fade 4s infinite 1400ms;
}
span.letter:nth-child(8) {
	-webkit-animation: fade 4s infinite 1600ms;
	animation: fade 4s infinite 1600ms;
}
span.letter:nth-child(9) {
	-webkit-animation: fade 4s infinite 1800ms;
	animation: fade 4s infinite 1800ms;
}
div#heading > h3 {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	font-weight: lighter;
	color: #727475
}
div.gallary-img {
	margin-top: 74px;
}
div.gallary-img .imgs {
	width: 29.3%;
	float: left;
	margin: 0 2% 4%;
	vertical-align: middle;
	text-align: center;	
	box-shadow: 0 7px 20px rgba(0,0,0,.15);
}
div.gallary-img .imgs:hover img{
	filter: blur(2px);
	transition: filter 1s linear;
	-webkit-transition: filter 1s linear;

}
div.gallary-img .imgs:hover {
	position: relative;
}
div.gallary-img .imgs:hover a::after {
	content: "Details \002B";
	position: absolute;
	top: 45%;
	left: 30%;
	text-align: center;
	vertical-align: middle;
	padding: 10px 30px;
	box-sizing: border-box;
	border-radius: 2px;
	color: white;
	background-color: #9d826d;
	font-family: 'Gilda Display', serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	-webkit-animation: details-product 1s ease-in;
	animation: details-product 1s ease-in;
}
div.gallary-img div.imgs img {
	width: 100%;
}
div.gallary-img .imgs a {
	list-style: none;

}


div.copyright {
	width:  10%;
	margin: auto;
	text-align: center;
	font-family: 'Gilda Display', serif;
	-webkit-animation: copyright 4s ease;
	animation: copyright 4s ease;
	max-height: 0px;
	position: relative;
}
div.copyright p {
	width: 100%;
	height: 20px;
}